<a href="https://colab.research.google.com/github/ripky/OFA/blob/main/quis_1_Exploratory_Data_analysis.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [3]:
# Basic Library
import pandas as pd 
import numpy as np 

# Library untuk visualisasi
import matplotlib.pyplot as plt 
import seaborn as sns

In [5]:
#import data(data sebelum di prosesing)
!wget -O apy.csv https://raw.githubusercontent.com/ripky/OFA/main/dataset/apy.csv

--2022-03-15 07:16:26--  https://raw.githubusercontent.com/ripky/OFA/main/dataset/apy.csv
Resolving raw.githubusercontent.com (raw.githubusercontent.com)... 185.199.108.133, 185.199.111.133, 185.199.110.133, ...
Connecting to raw.githubusercontent.com (raw.githubusercontent.com)|185.199.108.133|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 13882624 (13M) [text/plain]
Saving to: ‘apy.csv’

apy.csv             100%[===================>]  13.24M  66.1MB/s    in 0.2s

2022-03-15 07:16:27 (66.1 MB/s) - ‘apy.csv’ saved [13882624/13882624]

In [6]:
#read/melihat data 
df = pd.read_csv('apy.csv')
df

,State_Name,District_Name,Crop_Year,Season,Crop,Area,Production
0,Andaman and Nicobar Islands,NICOBARS,2000,Kharif,Arecanut,1254.0,2000
1,Andaman and Nicobar Islands,NICOBARS,2000,Kharif,Other Kharif pulses,2.0,1
2,Andaman and Nicobar Islands,NICOBARS,2000,Kharif,Rice,102.0,321
3,Andaman and Nicobar Islands,NICOBARS,2000,Whole Year,Banana,176.0,641
4,Andaman and Nicobar Islands,NICOBARS,2000,Whole Year,Cashewnut,720.0,165
...,...,...,...,...,...,...,...
246086,West Bengal,PURULIA,2014,Summer,Rice,306.0,801
246087,West Bengal,PURULIA,2014,Summer,Sesamum,627.0,463
246088,West Bengal,PURULIA,2014,Whole Year,Sugarcane,324.0,16250
246089,West Bengal,PURULIA,2014,Winter,Rice,279151.0,597899
246090,West Bengal,PURULIA,2014,Winter,Sesamum,175.0,88

In [7]:
#melihat jumlah data 
len(df)

246091

In [9]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 246091 entries, 0 to 246090
Data columns (total 7 columns):
 #   Column         Non-Null Count   Dtype
---  ------         --------------   -----
 0   State_Name     246091 non-null  object
 1   District_Name  246091 non-null  object
 2   Crop_Year      246091 non-null  int64
 3   Season         246091 non-null  object
 4   Crop           246091 non-null  object
 5   Area           246091 non-null  float64
 6   Production     246091 non-null  object
dtypes: float64(1), int64(1), object(5)
memory usage: 13.1+ MB

In [13]:
#read data pada csv pada bagian variabel Production
data1 = pd.read_csv('apy.csv',index_col='Production')

In [14]:
#hanya menghapus data '=' pada value Production 
data1.drop(['='],inplace=True)

In [15]:
#cek data ulang dengan melihat jumlah data
data1

,State_Name,District_Name,Crop_Year,Season,Crop,Area
Production,,,,,,
2000,Andaman and Nicobar Islands,NICOBARS,2000,Kharif,Arecanut,1254.0
1,Andaman and Nicobar Islands,NICOBARS,2000,Kharif,Other Kharif pulses,2.0
321,Andaman and Nicobar Islands,NICOBARS,2000,Kharif,Rice,102.0
641,Andaman and Nicobar Islands,NICOBARS,2000,Whole Year,Banana,176.0
165,Andaman and Nicobar Islands,NICOBARS,2000,Whole Year,Cashewnut,720.0
...,...,...,...,...,...,...
801,West Bengal,PURULIA,2014,Summer,Rice,306.0
463,West Bengal,PURULIA,2014,Summer,Sesamum,627.0
16250,West Bengal,PURULIA,2014,Whole Year,Sugarcane,324.0
597899,West Bengal,PURULIA,2014,Winter,Rice,279151.0
88,West Bengal,PURULIA,2014,Winter,Sesamum,175.0

In [16]:
#mengecek jumlah data setelah dihapus
len(data1)

242364

In [17]:
#mereset indeks variabel 'Production'
data = data1.reset_index()

In [18]:
#merubah type data Production dari object menjadi float 
data[['Production']] = data[['Production']].astype(float)

In [19]:
#cek data
data

,Production,State_Name,District_Name,Crop_Year,Season,Crop,Area
0,2000.0,Andaman and Nicobar Islands,NICOBARS,2000,Kharif,Arecanut,1254.0
1,1.0,Andaman and Nicobar Islands,NICOBARS,2000,Kharif,Other Kharif pulses,2.0
2,321.0,Andaman and Nicobar Islands,NICOBARS,2000,Kharif,Rice,102.0
3,641.0,Andaman and Nicobar Islands,NICOBARS,2000,Whole Year,Banana,176.0
4,165.0,Andaman and Nicobar Islands,NICOBARS,2000,Whole Year,Cashewnut,720.0
...,...,...,...,...,...,...,...
242359,801.0,West Bengal,PURULIA,2014,Summer,Rice,306.0
242360,463.0,West Bengal,PURULIA,2014,Summer,Sesamum,627.0
242361,16250.0,West Bengal,PURULIA,2014,Whole Year,Sugarcane,324.0
242362,597899.0,West Bengal,PURULIA,2014,Winter,Rice,279151.0
242363,88.0,West Bengal,PURULIA,2014,Winter,Sesamum,175.0

In [20]:
#cek info
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 242364 entries, 0 to 242363
Data columns (total 7 columns):
 #   Column         Non-Null Count   Dtype
---  ------         --------------   -----
 0   Production     242364 non-null  float64
 1   State_Name     242364 non-null  object
 2   District_Name  242364 non-null  object
 3   Crop_Year      242364 non-null  int64
 4   Season         242364 non-null  object
 5   Crop           242364 non-null  object
 6   Area           242364 non-null  float64
dtypes: float64(2), int64(1), object(4)
memory usage: 12.9+ MB

**data describe**

In [21]:
#deskriptif data numerik
data.describe()

         Production      Crop_Year          Area
count  2.423640e+05  242364.000000  2.423640e+05
mean   5.824962e+05    2005.625770  1.216727e+04
std    1.706571e+07       4.958254  5.085714e+04
min    0.000000e+00    1997.000000  1.000000e-01
25%    8.800000e+01    2002.000000  8.700000e+01
50%    7.290000e+02    2006.000000  6.030000e+02
75%    7.022250e+03    2010.000000  4.545000e+03
max    1.250800e+09    2015.000000  8.580100e+06

**correlation**

In [22]:
#korelasi pada variabel numerik
data.corr()

            Production  Crop_Year      Area
Production    1.000000   0.006989  0.040588
Crop_Year     0.006989   1.000000 -0.025305
Area          0.040588  -0.025305  1.000000

In [23]:
#mengurutkan data berdasarkan variabel tahun
RL = data[["Production","Area","Crop_Year",]].sort_values('Crop_Year')
RL.head()

        Production     Area  Crop_Year
194760     58881.0  98911.0       1997
177270       370.0    591.0       1997
177269      9290.0    242.0       1997
177268        10.0      9.0       1997
177267        10.0      5.0       1997

**UJI NORMALITAS**

In [24]:
#import library uji normalitas
import pandas as pd
from scipy.stats import kstest, shapiro

Misalkan ditentukan level signifikansi 5% atau 0.05. Hipotesisnya adalah:

H0: data tidak sesuai dengan distribusi normal

```
```
HA: data sesuai dengan distribusi normal

In [25]:
ksdata = kstest(RL['Area'], 'norm')
swdata = shapiro(RL['Area'])
print(ksdata)
print(swdata)

KstestResult(statistic=0.9708159351779224, pvalue=0.0)
(0.20637625455856323, 0.0)

/usr/local/lib/python3.7/dist-packages/scipy/stats/morestats.py:1676: UserWarning: p-value may not be accurate for N > 5000.
  warnings.warn("p-value may not be accurate for N > 5000.")

In [26]:
ksdata = kstest(RL['Production'], 'norm')
swdata = shapiro(RL['Production'])
print(ksdata)
print(swdata)

KstestResult(statistic=0.9510852821106353, pvalue=0.0)
(0.012974977493286133, 0.0)

/usr/local/lib/python3.7/dist-packages/scipy/stats/morestats.py:1676: UserWarning: p-value may not be accurate for N > 5000.
  warnings.warn("p-value may not be accurate for N > 5000.")

nilai pvalue test normalitas dengan kolmogoros-smirnov dan shapiro wilk 0.0 karena data terlalu overload 


**untuk menggunakan uji Shapiro-Wilk untuk sampel data kurang dari 50 sampel (N<50).**
**Namun dalam penelitian pada umumnya, pengujian Kolmogorov Smirnov masih digunakan untuk sampel data yang berukuran lebih dari 2000 sampel (20 ≤ N ≤ 1000).**

In [16]:
#kode untuk transform range (0, 1) /normalisasi jika diperlukan 

'''
cols_to_scale = ['Production','Area']

from sklearn.preprocessing import MinMaxScaler
scaler = MinMaxScaler()
RL[cols_to_scale] = scaler.fit_transform(RL[cols_to_scale])
'''

"\ncols_to_scale = ['Production','Area']\n\nfrom sklearn.preprocessing import MinMaxScaler\nscaler = MinMaxScaler()\nRL[cols_to_scale] = scaler.fit_transform(RL[cols_to_scale])\n"

In [27]:
#mereshape data (-1, 1) merubah array ke bawah 
dataset = RL['Production'].values.reshape(-1, 1) #mengubah menjadi matrix satu dimensi
dataset_1 = dataset.astype('float32') #convert tipe data menjadi float32
dataset_1

array([[5.8881e+04],
       [3.7000e+02],
       [9.2900e+03],
       ...,
       [3.3900e+01],
       [2.2000e+00],
       [9.6720e+02]], dtype=float32)

In [28]:
#mereshape data (-1, 1) merubah array ke bawah
dataset = RL['Area'].values.reshape(-1, 1) #mengubah menjadi matrix satu dimensi
dataset_2 = dataset.astype('float32') #convert tipe data menjadi float32
dataset_2

array([[9.8911e+04],
       [5.9100e+02],
       [2.4200e+02],
       ...,
       [3.4000e+01],
       [8.0000e+00],
       [1.3000e+01]], dtype=float32)

In [29]:
X = dataset_2
Y = dataset_1

In [39]:
#split data 
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, Y, test_size=0.2,random_state=0)

**linear regression**

In [40]:
#import library
from sklearn import datasets, linear_model, metrics
from sklearn.linear_model import LinearRegression

In [41]:
#panggil function liniearregresion
model = LinearRegression()
#masukkan data x dan y yang sudah di reshape ke dalam model fit
model.fit(X,Y)
#jalan kan model
model = LinearRegression().fit(X, Y)

In [42]:
#kode untuk r square/ nilai signifikan variabel X terhadap variabel Y
r_sq = model.score(X, Y)
print('coefficient of determination:', r_sq)

coefficient of determination: 0.001647290960893777

In [43]:
#kode unruk intercept / mencari nilai Y saat kondisi X=0
print('intercept:', model.intercept_)

intercept: [416782.5]

In [44]:
#kode untuk mencari koefisien pada variabel dependen /X
print('slope:', model.coef_)

slope: [[13.61963]]

In [45]:
new_model = LinearRegression().fit(X, Y.reshape((-1, 1)))
print('intercept:', new_model.intercept_)
print('slope:', new_model.coef_)

intercept: [416782.5]
slope: [[13.61963]]

In [46]:
#kode prediksi gabungan nilai dari pengaruh nilai (intercept+(koefisien variabel x* kenaikan dari variabel X))
y_pred = model.intercept_ + model.coef_ * X
print('predicted response:', y_pred, sep='\n')

predicted response:
[[1763913.8 ]
 [ 424831.7 ]
 [ 420078.44]
 ...
 [ 417245.56]
 [ 416891.47]
 [ 416959.56]]

**modify model regresi**

In [50]:
reg = linear_model.LinearRegression()
re=reg.fit(X_train, y_train)
pred_y= re.predict(y_train)

In [51]:
print('Coefficients: ', reg.coef_)

Coefficients:  [[13.679258]]

In [52]:
print('Variance score: {}'.format(reg.score(X_test, y_test)))

Variance score: 0.0017971425398285445

**Forecast With Arima**

In [40]:
#import library
import statsmodels.api as sm
from pylab import rcParams as rc
from statsmodels.graphics.tsaplots import plot_acf, plot_pacf
import itertools

/usr/local/lib/python3.7/dist-packages/statsmodels/tools/_testing.py:19: FutureWarning: pandas.util.testing is deprecated. Use the functions in the public API at pandas.testing instead.
  import pandas.util.testing as tm

In [41]:
#create variabel baru berdasarkan bulan
RL['month'] = pd.to_datetime(df['Crop_Year']).dt.to_period('M')

In [42]:
panggil data
RL

        Production     Area  Crop_Year    month
194760     58881.0  98911.0       1997  1970-01
177270       370.0    591.0       1997  1970-01
177269      9290.0    242.0       1997  1970-01
177268        10.0      9.0       1997  1970-01
177267        10.0      5.0       1997  1970-01
...            ...      ...        ...      ...
156728     28000.0  49000.0       2015  1970-01
156727        16.3     60.0       2015  1970-01
156726        33.9     34.0       2015  1970-01
156735         2.2      8.0       2015  1970-01
154021       967.2     13.0       2015  1970-01

[242364 rows x 4 columns]

In [43]:
#urutkan data berdasarkan waktu bulan
data = RL[['Production','month']].sort_values('month')
data.head()

        Production    month
194760     58881.0  1970-01
1447          65.0  1970-01
1448        4081.0  1970-01
1449        1522.0  1970-01
70805          3.0  1970-01

In [44]:
#seting index pada variabel month/ waktu
data.set_index('month',inplace=True)
data

         Production
month
1970-01     58881.0
1970-01        65.0
1970-01      4081.0
1970-01      1522.0
1970-01         3.0
...             ...
1970-01         0.0
1970-01         0.0
1970-01      3051.0
1970-01     14000.0
1970-01       967.2

[242364 rows x 1 columns]

In [45]:
p=d=q=range(0,2)
p,d,q

(range(0, 2), range(0, 2), range(0, 2))

In [46]:
pdq = list(itertools.product(p,d,q))
pdq

[(0, 0, 0),
 (0, 0, 1),
 (0, 1, 0),
 (0, 1, 1),
 (1, 0, 0),
 (1, 0, 1),
 (1, 1, 0),
 (1, 1, 1)]

In [47]:
seasonal_pdq = [(x[0],x[1],x[2], 12) for x in pdq]
seasonal_pdq

[(0, 0, 0, 12),
 (0, 0, 1, 12),
 (0, 1, 0, 12),
 (0, 1, 1, 12),
 (1, 0, 0, 12),
 (1, 0, 1, 12),
 (1, 1, 0, 12),
 (1, 1, 1, 12)]

In [ ]:
for param in pdq:
    for param_seasonal in seasonal_pdq:
        try:
            mod = sm.tsa.statespace.SARIMAX(data,order = param, seasonal_order = param_seasonal ,
                                            enforce_stationarity= False , enforce_invertibility= False )
            results = mod.fit()
            
            print('ARIMA{} x {} 12 -- AIC : {}'.format(param, param_seasonal, results.aic))
            
        except:
             continue

ARIMA(0, 0, 0) x (0, 0, 0, 12) 12 -- AIC : 8760019.869650215
ARIMA(0, 0, 0) x (0, 0, 1, 12) 12 -- AIC : 8759566.788077997
ARIMA(0, 0, 0) x (0, 1, 0, 12) 12 -- AIC : 8924110.657739012

In [ ]:
mod = sm.tsa.statespace.SARIMAX(data,
                               order=(1,0,1),
                               seasonal_order= (1,1,1,12),
                               enforce_stationarity = False,
                               enforce_invertibility=False)
results = mod.fit()
print(results.summary().tables[1])

In [ ]:
results.plot_diagnostics(figsize=(16,8))
plt.show()