<a href="https://colab.research.google.com/github/ripky/OFA/blob/main/QUIZ_3.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**1.menjumlahkan semua angka yang ada dalam list**

In [ ]:
angka=[2,5,3,4,5,4]
jumlah=sum(angka)

In [ ]:
jumlah

23

**2. split list character dan list string**

In [ ]:
warna ="red"
print ("sebelum di split : [{}]".format(warna))
split = list(warna)
print ("sesudah diubah : " +  str(split))

sebelum di split : [red]
sesudah diubah : ['r', 'e', 'd']

In [ ]:
#buat list 
warna = ['red', 'blue', 'black']
  

test = list(map(list, warna))
print(test)

[['r', 'e', 'd'], ['b', 'l', 'u', 'e'], ['b', 'l', 'a', 'c', 'k']]

**3. menjumlahkan 2 buah list**

In [ ]:
def addition(a,b):
    return a + b
  
# We double all numbers using map()
numbers_1 = [6,5,3,9]
numbers_2 = [0,1,7,7]
result = map(addition, numbers1,numbers2)
print(list(result))

[6, 6, 10, 16]

**4. memisahkan billangan ganjil dan genap pada list**

In [ ]:
bil_awal = int(input("Masukan bilangan awal: "))
bil_akhir = int(input("Masukan bilangan akhir: "))
 
list_bil = [i for i in range(bil_awal, bil_akhir +1 )]
print('Daftar bilangan: {}'.format(list_bil))
 
bil_genap = []
bil_ganjil = []
 
for bil in list_bil:
    if bil % 2 == 0:
        bil_genap.append(bil)
    else:
        bil_ganjil.append(bil)
 
print('genap: [{}]'.format(', '.join([str(bil) for bil in bil_genap])))
print('ganjil: [{}]'.format(', '.join([str(bil) for bil in bil_ganjil])))

Masukan bilangan awal: 1
Masukan bilangan akhir: 20
Daftar bilangan: [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20]
genap: [2, 4, 6, 8, 10, 12, 14, 16, 18, 20]
ganjil: [1, 3, 5, 7, 9, 11, 13, 15, 17, 19]