<a href="https://colab.research.google.com/github/ripky/OFA/blob/main/QUIZ_1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**1.CARA MENGKONVERSIKAN SUHU**

In [ ]:
print("=====Konversi Celcius=====")

celcius = 74 # ANGKA SEBAGAI CONTOH
fahrenheit = (9 / 5) * celcius + 32
reamur = (4 / 5) * celcius
kelvin = celcius + 273.15

=====Konversi Celcius=====

In [ ]:
print("=====input nilai celcius=====")
celcius = float(input("Masukkan nilai Celcius : "))

=====input nilai celcius=====
Masukkan nilai Celcius : 10

In [ ]:
#print hasil
print("Nilai dalam fahrenheit :", fahrenheit, "C")
print("Nilai dalam reamur :", reamur, "R")
print("Nilai dalam Kelvin :", kelvin, "K")

Nilai dalam fahrenheit : 165.20000000000002 C
Nilai dalam reamur : 59.2 R
Nilai dalam Kelvin : 347.15 K

In [ ]:
print("=====Konversi Fahrenheit=====")

#rumus konversi 
celcius = (5 / 9) * (fahrenheit - 32)
reamur = (4 / 9) * (fahrenheit - 32)
kelvin = (5 / 9) * (fahrenheit - 32) + 273

=====Konversi Fahrenheit=====

In [ ]:
fahrenheit = float(input("Masukkan nilai Fahrenheit : "))

Masukkan nilai Fahrenheit : 10

In [ ]:
print("Nilai dalam Celcius :", celcius, "C")
print("Nilai dalam reamur :", reamur, "R")
print("Nilai dalam Kelvin :", kelvin, "K")

Nilai dalam Celcius : 74.00000000000001 C
Nilai dalam reamur : 59.2 R
Nilai dalam Kelvin : 347.0 K

In [ ]:
print("\n=====Konversi Reamur=====")

#rumus konversi
celcius = (5 / 4) * reamur
fahrenheit = (9 / 4) * reamur + 32
kelvin = (5 / 4) * reamur + 273

=====Konversi Reamur=====

In [ ]:
reamur = float(input("Masukkan nilai Reamur : "))

Masukkan nilai Reamur : 10

In [ ]:
print("Nilai Celcius : ", celcius, "C")
print("Nilai dalam fahrenheit :", fahrenheit, "F")
print("Nilai dalam Kelvin :", kelvin, "K")

Nilai Celcius :  74.0 C
Nilai dalam fahrenheit : 165.20000000000002 F
Nilai dalam Kelvin : 347.0 K

In [ ]:
print("=====Konversi Kelvin=====")

#kelvin = 62  ANGKA SEBAGAI CONTOH
celcius = kelvin - 273
fahrenheit = (9 / 5) * (kelvin - 273) + 32
reamur = (4 / 5) * (kelvin - 273)

=====Konversi Kelvin=====

In [ ]:
kelvin = float(input("Masukkan nilai Kelvin : "))

Masukkan nilai Kelvin : 10

In [ ]:
print("Nilai Celcius : ", celcius, "C")
print("Nilai dalam fahrenheit :", fahrenheit, "F")
print("Nilai dalam reamur :", reamur, "K")

Nilai Celcius :  74.0 C
Nilai dalam fahrenheit : 165.20000000000002 F
Nilai dalam reamur : 59.2 K

**2.INPUT DATA**

In [ ]:
print("=====DATA MAHASISWA=====")
str(input("NAMA   : "))
str(input("NIM   : "))
str(input("FAKULTAS   : "))
str(input("JURUSAN   : "))
str(input("ASAL KOTA   : "))
str(input("ALAMAT   : "))
print("selasai")

=====DATA MAHASISWA=====
NAMA   : AHMAD
NIM   : ********
FAKULTAS   : MIPA
JURUSAN   : KIMIA
ASAL KOTA   : SEMARANG
ALAMAT   : CANDI
selasai

In [2]:
data_mahasiswa = {
    "NAMA":"",
    "NIM":"",
    "FAKULTAS":"",
    "ASAL_KOTA":"",
    "ALAMAT":""
}

In [9]:
data_mahasiswa ["NAMA"]=str(input("NAMA :"))
data_mahasiswa ["NIM"] =str(input("NIM :"))
data_mahasiswa ["FAKULTAS"] =str(input("FAKULTAS :"))
data_mahasiswa ["ASAL_KOTA"] =str(input("ASAL_KOTA :")) 
data_mahasiswa ["ALAMAT"] =str(input("ALAMAT :"))

NAMA :kyy
NIM :247142767

In [10]:
data_mahasiswa

{'ALAMAT': '',
 'ASAL_KOTA': '',
 'FAKULTAS': '',
 'NAMA': 'kyy',
 'NIM': '247142767'}

**3.KODE PROGRAM PERSAMAAN**

In [ ]:
from cmath import sqrt

In [ ]:
print("persamaan=ax^2+bx+c")

In [ ]:
a = int(input('Masukkan a: '))
b = int(input('Masukkan b: '))
c = int(input('Masukkan c: '))

In [ ]:
d = (b**2) - (4*a*c)

In [ ]:
x1 = (-b+sqrt(d))/(2*a)
x2 = (-b-sqrt(d))/(2*a)

In [ ]:
print('Solusinya adalah {0} dan {1}'.format(x1, x2))

**4.cara membuat menu berulang**

In [ ]:
print("##  daftar menu kopi ilkom  ##")
print("\n")
print("1.espresso")
print("2.cappuccino")
print("3.vanilla latte")
print("4.hazelnut latte")

In [ ]:
def show_menu() :
    print ("##  daftar menu kopi ilkom  ##")
    print ("==============================")
    print ("1.espresso")
    print ("2.cappuccino")
    print ("3.vanilla latte")
    print ("4.hazelnut latte")
    print ("==============================")

    menu=int(input("masukan angka sesuai pilihan anda :"))

    if menu==1:
       print("anda memilih espresso")
    elif menu==2:
         print("anda memilih cappuccino")
    elif menu==3:
         print("vanilla latte")
    elif menu==4:
         print("hazelnut latte")
    else :
          print("tidak ada di menu tersebut!!")
    lanjut_beli = input("Ingin membeli lagi? <y/n>")
    if lanjut_beli.lower() == "y":
          show_menu()
show_menu()